.playerstatsContainer{
  background:#FFD166;
    padding: 50px;
    border-radius: 25px;
    width: 600px;
    height: 1000px;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.playerstatsName{
    position: fixed;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: left;
    color: black;
    width: 600px;
}

.playerstatsWins{
    position: fixed;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: left;
    color: black;
    width: 600px;
}

/*------------------------------------------------------------------------------*/

body{
    background: #06D6A0;
}

#myChart{
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width:1500px;
  height:750px;
  max-width:1500px;
}

.gameTitle{
  width: 12.5ch;
  font-family: monospace;
  overflow: hidden;
  border-right: none;
  top: 10%;
  left: 50%;
  font-size: 100px;
  transform: translate(-50%, -50%);
  position: fixed;
  font-weight: bold;
  animation: typing 1s steps(13)
}

@keyframes typing {
  from {width: 0ch;}
  0% {border-right: solid 5px;}
  99% {border-right: solid 5px;}
  100% {border-right: none;}
}

.playercapFilled {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-align: center;
  color: black;
}

/*------------------------------------------------------------------------------*/

.gameResults{
    display: none;
    position: fixed;
    left: 50%;
    top: 15%;
    display: none;
    animation-name: grow;
    animation-duration: 4s;
}

.winningPlayer{
    display: inline-block;
    font-size: 60px;
    padding: 20px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    color: black;
    background: linear-gradient(-45deg, #FF134A 50%, #FFD166 50%);
    font-family: Inter, sans-serif;
    display: none;
    animation-name: grow;
    animation: grow 2s;
    width: 300px;
    height: 60px;
    text-align: center; 
}

@keyframes grow {
  0% {
    width: 0px;
    height: 0px;
    font-size: 0px;
  }
  50% {
    width: 300px;
    height: 0px;
    font-size: 0px;
  }
  100% {
    width: 300px;
    height: 60px;
    font-size: 60px;
  }
}

/*------------------------------------------------------------------------------*/

.userName {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 90px;
  font-size: 40px;
  border: 0px;
  border-radius: 25px;
  text-align: center;
}

.inputLable{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease all;
  background: #FFD166;
  width: 300px;
  border: 0px;
  height: 94.4px;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
  cursor:pointer;
  box-shadow: 0px 5px 0px 0px #a88a44;
}

.inputLable:hover {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

/*------------------------------------------------------------------------------*/

.menuContainer{
  outline: 15px solid #2a0f8b;
  background:#3d0dec;
  border-radius: 25px;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-stats{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: #FFD166;
    color: black;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    font-size: 60px;
    cursor:pointer;
    box-shadow: 0px 5px 0px 0px #a88a44;
}

.btn-stats:hover{
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

.btn-AI{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: #FFD166;
    color: black;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    font-size: 60px;
    cursor:pointer;
    box-shadow: 0px 5px 0px 0px #a88a44;
}

.btn-AI:hover{
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

.btn-start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: #FF134A;
    color: black;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    font-size: 60px;
    cursor:pointer;
    box-shadow: 0px 5px 0px 0px #c00934;
}

.btn-start:hover {
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #FFD166;
}

/*------------------------------------------------------------------------------*/

.btn-menu{
    position: fixed;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: linear-gradient(-45deg, #FF134A 50%, #FFD166 50%);
    color: black;
    border: none;
    border-radius: 90px;
    width: 120px;
    height: 120px;
    font-size: 25px;
    cursor:pointer;
    display: none;
}

.btn-menu:hover {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

.btn-restart{
    position: fixed;
    top: 90%;
    left: 5%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: linear-gradient(-45deg, #FF134A 50%, #FFD166 50%);
    color: black;
    border: none;
    border-radius: 90px;
    width: 120px;
    height: 120px;
    font-size: 25px;
    cursor:pointer;
    display: none;
}

.btn-restart:hover {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166 ;
}

/*------------------------------------------------------------------------------*/

.roomCodeContainer{
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease all;
    background: #F0F8FF;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    display: flex;
}

.roomcodeLable{
    color: black;
    font-size: 60px;
    text-align: center;
}

.gridContainer{
    background:#06d6a0;
    padding: 50px;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameGrid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 15px;
    justify-content: center;
    cursor: pointer;
    outline: 15px solid #2a0f8b;
    border: 15px solid #3d0dec;
    background: #3d0dec;
}
  
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 120px;
    background: #06d6a0;
}

.row:hover {
    opacity: 0.5;
}

.grid-item.R::before,
.grid-item.R::after,
.gameGrid.R .row:not(.R):not(.Y):hover::before,
.gameGrid.R .row:not(.R):not(.Y):hover::after {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #FF134A;
  border-radius: 120px;
  animation: drop;
}

.grid-item.Y::before,
.grid-item.Y::after,
.gameGrid.Y .row:not(.R):not(.Y):hover::before,
.gameGrid.Y .row:not(.R):not(.Y):hover::after{
  content: '';
  position: absolute; 
  height: 100px;
  width: 100px;
  background-color: #FFD166;
  border-radius: 120px;
  animation: drop;
}

.Glowing{
  box-shadow: 0px 0px 20px 10px #FFFFFF;
}

/*------------------------------------------------------------------------------*/

.mainMenu, .playerstatsPage, .gameScreen, .playercapFilled, .gameSettings{
  display: none;
}

.playerLogin{
  display: block;
}

.btn-create-game{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease all;
  background: #FF134A;
  color: black;
  border: none;
  border-radius: 25px;
  width: 300px;
  height: 180px;
  font-size: 60px;
  cursor:pointer;
  box-shadow: 0px 5px 0px 0px #c00934;
}

.btn-create-game:hover {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

.btn-join-game{
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease all;
  background: #FF134A;
  color: black;
  border: none;
  border-radius: 25px;
  width: 300px;
  height: 180px;
  font-size: 60px;
  cursor:pointer;
  box-shadow: 0px 5px 0px 0px #c00934;
}

.btn-join-game:hover {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #FFD166;
}

.roomCode{
  font-size: 50px;
}

.roomcodeContainer{
  border: 0px;
  background-color: #FFD166;
  border-radius: 25px;
  width: 700px;
  height: 90px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: center;
}

.joinCode{
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 90px;
  font-size: 40px;
  border: 0px;
  border-radius: 25px;
  text-align: center;
}

.settingsContainer{
  outline: 15px solid #2a0f8b;
  background:#3d0dec;
  border-radius: 25px;
  width: 800px;
  height: 900px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}